<% if(success.length> 0){ %>
    <div class="alert alert-success text-center" role="alert">
        <%= success %>
    </div>
    <% } %>
        <% if(error.length> 0){ %>
            <div class="alert alert-danger text-center" role="alert">
                <%= error %>
            </div>
            <% } %>