.dropdown-menu {
    right: 0;
}

.link_name {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    /* font-weight: 400px; */
}

.nav-item i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.all-menu {
    margin-top: 5rem;
}

.input-halaman {
    width: 3%;
}