<%- include ../partials/header %>
    <!-- awal Navbar -->
    <div class="container-fluid all-menu">
        <div class="row">
            <div class="col">
                <h2>seles</h2>
            </div>
        </div>
    </div>

    <%- include ../partials/footer %>